* {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.underaged,
.welcome {
  font-size: 4rem;
  font-weight: bolder;
  color: rgb(69, 0, 0);
  background-color: blueviolet;

  padding: 2rem;
  margin: 0;
}

h2 {
  color: rgb(107, 13, 13);
  font-size: 2rem;
}

.list {
  list-style: none;
  font-size: 1.6rem;
  width: 30%;
  margin: auto;
  padding: 0;
  &__styling {
    background-color: rgb(105, 105, 130);
  }
}
